@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply dark:bg-neutral-900;
    }
}

@layer components {
    .Sign {
        @apply flex h-screen w-screen items-center justify-center bg-[url('../public/images/car.jpg')] bg-cover bg-no-repeat;
    }
    .childSign {
        @apply fixed flex flex-col justify-center rounded-xl bg-white/95 dark:bg-slate-800/95 sm:right-0 sm:h-screen sm:w-2/5 sm:rounded-none sm:bg-white dark:sm:bg-slate-800 xs:w-96 3xl:w-1/4;
    }

    .AboutPackage {
        @apply rounded-lg border p-6 dark:border-slate-700 dark:text-white;
    }

    .Login {
        @apply space-y-8 p-14;
    }
}
